body{
    margin: 0;
    padding: 0;
    border: 0;
    width: 100%;
    background-color: rgb(0, 0, 0);
    
}

#adn{
    width: 8%;
    height: auto;
    position: absolute;
    left: 3%;
    bottom: 5%;
}

.acceso{
    background-color: rgb(187, 255, 86);
    color: rgb(0, 47, 8);
    width: 33%;
    height: auto;
    margin: 2.5% auto 0 auto;
    padding: 0.5%;
    border-radius: 5px;
    text-align: center;
    box-shadow: 2px 2px 2px rgb(59, 147, 15);
    border-color: rgb(0, 73, 21);
    border-width: 3px;
    border-style: solid;
}

.error{
    background-color: rgb(235, 192, 1);
    color: rgb(81, 0, 0);
    width: 33%;
    height: auto;
    margin: 2.5% auto 0 auto;
    padding: 0.5%;
    border-radius: 5px;
    text-align: center;
    box-shadow: 2px 2px 2px rgb(183, 24, 24);
    border-color: rgb(69, 14, 0);
    border-width: 3px;
    border-style: solid;
}

.panel-principal{
    background-color: rgb(0, 43, 26);
    max-width: 25%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    border-width: 3px;
    border-color: greenyellow;
    border-style: solid;
    flex-direction: column;
    margin: 14% auto;
}

.panel-principal h1{
    color: rgb(0, 230, 103);
}

.campo{
    background-color: rgb(157, 255, 183);
    margin: 5% 0;
    border-color: rgb(59, 122, 76);
    border-width: 2px;
    border-style: solid;
    border-radius: 3px;
}

#enviar{
    background-color: rgb(122, 223, 149);
}

#enviar:hover{
    background-color:  rgb(59, 122, 76);
    border-color: rgb(157, 255, 183);
    color: white;
}

#sing-up{
    margin-top: 6%;
    text-decoration: none;
    font-weight: bold;
    color: rgb(67, 205, 104);
    margin-bottom: 5%;
}

#sing-up:hover{
    text-shadow: 2px 2px 2px rgb(157, 255, 183);
    color: white
}

#panel-singup{
    margin: 7% auto 0 auto;
}

#panel-2fa{
    max-width: 35%;
}

#panel-2fa p{
    color: rgb(157, 255, 183);
}

#principal{
    max-width: 80%;
    margin: 7% auto;
}

#papers{
    display: flex;
    margin-bottom:5%;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: auto;
    flex-direction: column;
}

#papers form{
    width: 100%;
    margin: 0% auto;
}

.titulo-paper{
    text-decoration: none;
    width: 50%;
    height: auto;
    text-align: center;
    color: black;
    background-color: rgb(122, 223, 149);
    margin: 0.8% 0;
    border-color: rgb(59, 122, 76);
    border-width: 2px;
    border-style: solid;
    border-radius: 3px;
}

.titulo-paper:hover{
    background-color:  rgb(59, 122, 76);
    border-color: rgb(157, 255, 183);
    color: white;
}