<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <title>Bio-Login</title>
        <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/biologia.png') }}">

        <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
    </head>
    <body>

        {% if msg %}
            <p class="{{ msg_class }}" id="msg_login">{{ msg }}</p>
            <script>
                if ("{{ msg_class }}" == "acceso"){
                var segundo_factor = "/segundo_factor"
    
                setTimeout(function(){
                    window.location.href = segundo_factor;
                }, 1000);
            }
            </script>
        {% endif %}

        <script>
            var parrafo = document.getElementById("msg_login")

            setTimeout(function(){
                parrafo.style.display = "none";
            }, 1000);
        </script>
        
        <img src="{{ url_for('static', filename='images/adn.png') }}" id="adn">
        <div class="panel-principal">
            <h1>Inicio de sesion</h1>
            <form class="login" action="/formulario" method="post">
                <input type="text" placeholder="DNI" autofocus required name="DNI" class="campo"><br>
                <input type="password" placeholder="Contraseña" required name="password" class="campo"><br>
                <input type="submit" class="campo" id="enviar">
            </form>
            <a href="/sing-up" id="sing-up">Sign Up</a>
        </div>
    </body>
</html>