<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <title>Biolab-Principal</title>
        <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/biologia.png') }}">

        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    </head>

    <body>

        {% if msg %}
            <p class="{{ msg_class }}" id="msg_sing-up">{{msg}}</p>
        {% endif %}

        <script>
            var parrafo = document.getElementById("msg_sing-up")

            setTimeout(function(){
                parrafo.style.display = "none";
            }, 4000);
        </script>

        <div class="panel-principal" id="principal">
            <h1 class="verde-claro">Nueva entrada</h1>
            <form class="login" action="/form-principal" method="post">
                <textarea placeholder="Titulo" autofocus required name="titulo" class="campo" maxlength="70" cols="70" rows="1"></textarea><br>
                <textarea name="cuerpo" class="campo" cols="70" rows="7" maxlength="10000" placeholder="Cuerpo del mensaje" required></textarea><br>
                <input type="submit" class="campo" id="enviar">
            </form>
        </div>

        <div id="papers">
            <h1 class="verde-claro">Listado de Papers</h1>
            {% if titulos %}
                {% for item in titulos %}
                    <form method="POST" action="/paper">
                        <input type="submit" class="titulos-papers" name="titulo" value="{{ item[0] }}">
                    </form>
                {% endfor %}
            {% endif %}
        </div>

    </body>
    
</html>